<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
    </head>
    <title>Build Result</title>
    <body marginwidth="0" marginheight="0" offset="0" topmargin="0" leftmargin="0">
        <center>
            <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td valign="top" align="center" id="bodyCell">
                            <!-- BEGIN TEMPLATE // -->
                            <!-- BEGIN BODY // -->
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <td valign="top" mc:edit="body_content00" class="bodyContent">
                                            <h1>There was an error processing <%= repoName %>/<%= branch %></h1>
                                            <li><%= err %></li>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- // END TEMPLATE -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </body>
</html>